@model MvcApplication1.Areas.ContactDetails.Models.ContactDetails

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<form method="POST">
  <fieldset>
    <legend>Contact Details</legend>
      <br />
        <fieldset>
            <legend>Basic Information</legend>
            @Html.LabelFor(m => m.FirstName): <br>@Html.TextBoxFor(m => m.FirstName)<br>
            @Html.LabelFor(m => m.LastName): <br>@Html.TextBoxFor(m => m.LastName)<br>
        </fieldset>

        <fieldset>
            <legend>Contact Information</legend>
                @Html.LabelFor(m => m.Email): <br>@Html.TextBoxFor(m => m.Email)<br>
                Home @Html.LabelFor(t => t.HomePhone.PhoneNumber): <br>@Html.TextBoxFor(t => t.HomePhone.CountryCode) &nbsp;@Html.TextBoxFor(t => t.HomePhone.AreaCode)&nbsp;@Html.TextBoxFor(t => t.HomePhone.AreaCode)<br>
                Cell @Html.LabelFor(t => t.CellPhone.PhoneNumber): <br>@Html.TextBoxFor(t => t.CellPhone.CountryCode) &nbsp;@Html.TextBoxFor(t => t.CellPhone.AreaCode)&nbsp;@Html.TextBoxFor(t => t.CellPhone.AreaCode)<br><br>
        </fieldset>
        <fieldset>
            <legend>Address Details</legend>
            @Html.LabelFor(a => a.HomeAddress.Line1): <br>@Html.TextBoxFor(a => a.HomeAddress.Line1)<br>
            @Html.LabelFor(a => a.HomeAddress.Line2): <br>@Html.TextBoxFor(a => a.HomeAddress.Line2)<br>
            @Html.LabelFor(a => a.HomeAddress.Line3): <br>@Html.TextBoxFor(a => a.HomeAddress.Line3)<br>
            @Html.LabelFor(a => a.HomeAddress.City): <br>@Html.TextBoxFor(a => a.HomeAddress.City)<br>
            @Html.LabelFor(a => a.HomeAddress.Province): <br>@Html.TextBoxFor(a => a.HomeAddress.Province)<br>
            @Html.LabelFor(a => a.HomeAddress.Country): <br>@Html.TextBoxFor(a => a.HomeAddress.Country)<br>
            @Html.LabelFor(a => a.HomeAddress.PostalCode): <br>@Html.TextBoxFor(a => a.HomeAddress.PostalCode)
        </fieldset>
      <input id="Create" type="submit" value="Create" />
  </fieldset>
</form>